In [55]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/calcofi/bottle.csv
/kaggle/input/calcofi/cast.csv

In [56]:
# modules we'll use
import pandas as pd
import numpy as np

# for Box-Cox Transformation
from scipy import stats

# for min_max scaling
from mlxtend.preprocessing import minmax_scaling

# plotting modules
import seaborn as sns
import matplotlib.pyplot as plt

# read in all our data
bottle = pd.read_csv("../input/calcofi/bottle.csv")

# set seed for reproducibility
np.random.seed(0)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (47,73) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [57]:
bottle.head()

,Cst_Cnt,Btl_Cnt,Sta_ID,Depth_ID,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,R_PHAEO,R_PRES,R_SAMP,DIC1,DIC2,TA1,TA2,pH2,pH1,DIC Quality Comment
0,1,1,054.0 056.0,19-4903CR-HY-060-0930-05400560-0000A-3,0,10.50,33.440,NaN,25.649,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,054.0 056.0,19-4903CR-HY-060-0930-05400560-0008A-3,8,10.46,33.440,NaN,25.656,NaN,...,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,054.0 056.0,19-4903CR-HY-060-0930-05400560-0010A-7,10,10.46,33.437,NaN,25.654,NaN,...,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4,054.0 056.0,19-4903CR-HY-060-0930-05400560-0019A-3,19,10.45,33.420,NaN,25.643,NaN,...,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5,054.0 056.0,19-4903CR-HY-060-0930-05400560-0020A-7,20,10.45,33.421,NaN,25.643,NaN,...,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
bottle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 74 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cst_Cnt              864863 non-null  int64
 1   Btl_Cnt              864863 non-null  int64
 2   Sta_ID               864863 non-null  object
 3   Depth_ID             864863 non-null  object
 4   Depthm               864863 non-null  int64
 5   T_degC               853900 non-null  float64
 6   Salnty               817509 non-null  float64
 7   O2ml_L               696201 non-null  float64
 8   STheta               812174 non-null  float64
 9   O2Sat                661274 non-null  float64
 10  Oxy_µmol/Kg          661268 non-null  float64
 11  BtlNum               118667 non-null  float64
 12  RecInd               864863 non-null  int64
 13  T_prec               853900 non-null  float64
 14  T_qual               23127 non-null   float64
 15  S_prec               817509 non-null  float64
 16  S_qual               74914 non-null   float64
 17  P_qual               673755 non-null  float64
 18  O_qual               184676 non-null  float64
 19  SThtaq               65823 non-null   float64
 20  O2Satq               217797 non-null  float64
 21  ChlorA               225272 non-null  float64
 22  Chlqua               639166 non-null  float64
 23  Phaeop               225271 non-null  float64
 24  Phaqua               639170 non-null  float64
 25  PO4uM                413317 non-null  float64
 26  PO4q                 451786 non-null  float64
 27  SiO3uM               354091 non-null  float64
 28  SiO3qu               510866 non-null  float64
 29  NO2uM                337576 non-null  float64
 30  NO2q                 529474 non-null  float64
 31  NO3uM                337403 non-null  float64
 32  NO3q                 529933 non-null  float64
 33  NH3uM                64962 non-null   float64
 34  NH3q                 808299 non-null  float64
 35  C14As1               14432 non-null   float64
 36  C14A1p               12760 non-null   float64
 37  C14A1q               848605 non-null  float64
 38  C14As2               14414 non-null   float64
 39  C14A2p               12742 non-null   float64
 40  C14A2q               848623 non-null  float64
 41  DarkAs               22649 non-null   float64
 42  DarkAp               20457 non-null   float64
 43  DarkAq               840440 non-null  float64
 44  MeanAs               22650 non-null   float64
 45  MeanAp               20457 non-null   float64
 46  MeanAq               840439 non-null  float64
 47  IncTim               14437 non-null   object
 48  LightP               18651 non-null   float64
 49  R_Depth              864863 non-null  float64
 50  R_TEMP               853900 non-null  float64
 51  R_POTEMP             818816 non-null  float64
 52  R_SALINITY           817509 non-null  float64
 53  R_SIGMA              812007 non-null  float64
 54  R_SVA                812092 non-null  float64
 55  R_DYNHT              818206 non-null  float64
 56  R_O2                 696201 non-null  float64
 57  R_O2Sat              666448 non-null  float64
 58  R_SIO3               354099 non-null  float64
 59  R_PO4                413325 non-null  float64
 60  R_NO3                337411 non-null  float64
 61  R_NO2                337584 non-null  float64
 62  R_NH4                64982 non-null   float64
 63  R_CHLA               225276 non-null  float64
 64  R_PHAEO              225275 non-null  float64
 65  R_PRES               864863 non-null  int64
 66  R_SAMP               122006 non-null  float64
 67  DIC1                 1999 non-null    float64
 68  DIC2                 224 non-null     float64
 69  TA1                  2084 non-null    float64
 70  TA2                  234 non-null     float64
 71  pH2                  10 non-null      float64
 72  pH1                  84 non-null      float64
 73  DIC Quality Comment  55 non-null      object
dtypes: float64(65), int64(5), object(4)
memory usage: 488.3+ MB

we should drop features with 30% or more missing values

In [59]:
bottle.drop(['BtlNum', 'DIC Quality Comment', 
             'pH1', 'pH2', 'TA2', 'TA1', 'DIC2',
             'DIC1', 'R_SAMP', 'R_PHAEO', 'R_CHLA',
             'R_NO2', 'R_NO3', 'R_PO4', 'R_SIO3',
             'LightP', 'IncTim', 'BtlNum', 'T_qual',
             'S_qual', 'SThtaq', 'ChlorA', 'Phaeop',
             'PO4uM', 'PO4uM', 'PO4q', 'SiO3uM',
             'SiO3qu', 'NO2uM', 'NO2q', 'NO3uM', 'NO3q',
             'C14As1', 'C14A1p', 'DarkAs', 'DarkAp', 
             'R_NH4', 'NH3uM', 'C14As2', 'MeanAs', 'MeanAp',
             'C14A2p', 'O2Satq', 'O_qual'], axis = 1, inplace = True)

In [60]:
bottle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 32 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Cst_Cnt      864863 non-null  int64
 1   Btl_Cnt      864863 non-null  int64
 2   Sta_ID       864863 non-null  object
 3   Depth_ID     864863 non-null  object
 4   Depthm       864863 non-null  int64
 5   T_degC       853900 non-null  float64
 6   Salnty       817509 non-null  float64
 7   O2ml_L       696201 non-null  float64
 8   STheta       812174 non-null  float64
 9   O2Sat        661274 non-null  float64
 10  Oxy_µmol/Kg  661268 non-null  float64
 11  RecInd       864863 non-null  int64
 12  T_prec       853900 non-null  float64
 13  S_prec       817509 non-null  float64
 14  P_qual       673755 non-null  float64
 15  Chlqua       639166 non-null  float64
 16  Phaqua       639170 non-null  float64
 17  NH3q         808299 non-null  float64
 18  C14A1q       848605 non-null  float64
 19  C14A2q       848623 non-null  float64
 20  DarkAq       840440 non-null  float64
 21  MeanAq       840439 non-null  float64
 22  R_Depth      864863 non-null  float64
 23  R_TEMP       853900 non-null  float64
 24  R_POTEMP     818816 non-null  float64
 25  R_SALINITY   817509 non-null  float64
 26  R_SIGMA      812007 non-null  float64
 27  R_SVA        812092 non-null  float64
 28  R_DYNHT      818206 non-null  float64
 29  R_O2         696201 non-null  float64
 30  R_O2Sat      666448 non-null  float64
 31  R_PRES       864863 non-null  int64
dtypes: float64(25), int64(5), object(2)
memory usage: 211.1+ MB

In [61]:
bottle.describe()

,Cst_Cnt,Btl_Cnt,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,Oxy_µmol/Kg,RecInd,...,R_Depth,R_TEMP,R_POTEMP,R_SALINITY,R_SIGMA,R_SVA,R_DYNHT,R_O2,R_O2Sat,R_PRES
count,864863.000000,864863.000000,864863.000000,853900.000000,817509.000000,696201.000000,812174.000000,661274.000000,661268.000000,864863.000000,...,864863.000000,853900.000000,818816.000000,817509.000000,812007.000000,812092.000000,818206.000000,696201.000000,666448.000000,864863.000000
mean,17138.790958,432432.000000,226.831951,10.799677,33.840350,3.392468,25.819394,57.103779,148.808694,4.700273,...,226.832495,10.799697,10.842295,33.840295,25.811010,220.938918,0.431763,3.392498,57.192940,228.395694
std,10240.949817,249664.587267,316.050259,4.243825,0.461843,2.073256,1.167787,37.094137,90.187533,1.877428,...,316.050007,4.243829,4.236435,0.462978,1.124645,93.483703,0.382336,2.073271,37.060537,319.456731
min,1.000000,1.000000,0.000000,1.440000,28.431000,-0.010000,20.934000,-0.100000,-0.434900,3.000000,...,0.000000,1.440000,0.000000,4.570000,20.934000,0.400000,0.000000,-0.010000,-0.100000,0.000000
25%,8269.000000,216216.500000,46.000000,7.680000,33.488000,1.360000,24.965000,21.100000,60.915470,3.000000,...,46.000000,7.680000,7.740000,33.488000,24.960000,143.700000,0.130000,1.360000,21.200000,46.000000
50%,16848.000000,432432.000000,125.000000,10.060000,33.863000,3.440000,25.996000,54.400000,151.064150,3.000000,...,125.000000,10.060000,10.100000,33.863000,25.990000,203.200000,0.340000,3.440000,54.500000,126.000000
75%,26557.000000,648647.500000,300.000000,13.880000,34.196900,5.500000,26.646000,97.600000,240.379600,7.000000,...,300.000000,13.880000,13.920000,34.196000,26.640000,299.800000,0.640000,5.500000,97.600000,302.000000
max,34404.000000,864863.000000,5351.000000,31.140000,37.034000,11.130000,250.784000,214.100000,485.701800,7.000000,...,5351.000000,31.140000,31.140000,37.034000,250.784000,683.400000,3.880000,11.130000,214.100000,5458.000000

in preparation of data for our machine learning model i advise we fill all our numerical data with -999 so it would help take care or outliers

In [62]:
def get_all_unique_values(dataframe):
  for cols in dataframe.columns:
    print(f"{cols}")
    print(dataframe[cols].unique())
    print(len(dataframe[cols].unique()))
    print("=" * 80)

get_all_unique_values(bottle)

Cst_Cnt
[    1     2     3 ... 34402 34403 34404]
34404
================================================================================
Btl_Cnt
[     1      2      3 ... 864861 864862 864863]
864863
================================================================================
Sta_ID
['054.0 056.0' '052.0 075.0' '051.0 085.0' ... '067.0 050.0' '067.0 047.7'
 '067.1 047.7']
2634
================================================================================
Depth_ID
['19-4903CR-HY-060-0930-05400560-0000A-3'
 '19-4903CR-HY-060-0930-05400560-0008A-3'
 '19-4903CR-HY-060-0930-05400560-0010A-7' ...
 '20-1611SR-MX-310-2239-09340264-0005A-3'
 '20-1611SR-MX-310-2239-09340264-0010A-3'
 '20-1611SR-MX-310-2239-09340264-0015A-3']
864850
================================================================================
Depthm
[   0    8   10 ... 3499 2001 3501]
3219
================================================================================
T_degC
[10.5   10.46  10.45  ... 18.692 18.161 17.533]
13848
================================================================================
Salnty
[33.44   33.437  33.42   ... 33.7432 33.6689 33.4218]
14603
================================================================================
O2ml_L
[  nan 5.9   6.02  ... 3.761 2.997 6.355]
6501
================================================================================
STheta
[25.649   25.656   25.654   ... 23.88911 24.01426 24.15297]
36369
================================================================================
O2Sat
[   nan  92.8  111.8  ...  67.88  30.55 108.46]
10380
================================================================================
Oxy_µmol/Kg
[     nan 256.9761 262.6628 ... 123.19    48.35    31.34  ]
391815
================================================================================
RecInd
[3 7 5 6 4]
5
================================================================================
T_prec
[ 1.  2. nan  3.]
4
================================================================================
S_prec
[ 2.  3. nan]
3
================================================================================
P_qual
[ 9. nan  6.]
3
================================================================================
Chlqua
[ 9. nan  8.]
3
================================================================================
Phaqua
[ 9. nan  8.]
3
================================================================================
NH3q
[ 9. nan  4.]
3
================================================================================
C14A1q
[ 9. nan  8.]
3
================================================================================
C14A2q
[ 9. nan  8.]
3
================================================================================
DarkAq
[ 9. nan  8.]
3
================================================================================
MeanAq
[ 9. nan  8.]
3
================================================================================
R_Depth
[   0.    8.   10. ... 3499. 2001. 3501.]
3219
================================================================================
R_TEMP
[10.5   10.46  10.45  ... 26.89  27.47  14.318]
2820
================================================================================
R_POTEMP
[10.5  10.46 10.45 ... 25.65 27.99  0.  ]
2858
================================================================================
R_SALINITY
[33.44  33.437 33.42  ... 32.308 32.307 32.396]
3585
================================================================================
R_SIGMA
[25.64  25.65  25.68  ... 23.642 23.598 23.643]
4399
================================================================================
R_SVA
[233.  232.5 232.8 ...   7.3   0.6   0.4]
5255
================================================================================
R_DYNHT
[0.    0.01  0.02  ... 2.691 3.274 1.129]
1849
================================================================================
R_O2
[       nan  5.900e+00  6.020e+00  6.040e+00  6.060e+00  6.010e+00
  5.780e+00  5.760e+00  5.600e+00  5.070e+00  3.820e+00  3.760e+00
  3.200e+00  3.100e+00  2.710e+00  1.780e+00  1.740e+00  1.190e+00
  8.100e-01  5.700e-01  5.600e-01  4.800e-01  4.300e-01  4.100e-01
  4.000e-01  6.220e+00  6.340e+00  6.290e+00  6.280e+00  6.320e+00
  6.360e+00  6.270e+00  6.130e+00  5.290e+00  4.590e+00  3.940e+00
  3.440e+00  3.430e+00  3.180e+00  3.070e+00  2.270e+00  1.360e+00
  1.370e+00  1.430e+00  1.460e+00  1.180e+00  7.400e-01  7.200e-01
  5.900e-01  4.500e-01  3.800e-01  2.130e+00  5.890e+00  5.160e+00
  5.220e+00  6.100e+00  6.300e+00  5.830e+00  5.800e+00  5.130e+00
  4.080e+00  4.030e+00  3.540e+00  3.400e+00  2.910e+00  2.520e+00
  2.340e+00  1.620e+00  1.020e+00  7.700e-01  7.100e-01  5.400e-01
  3.600e-01  3.300e-01  5.100e-01  6.100e-01  6.500e-01  6.080e+00
  6.350e+00  6.140e+00  6.170e+00  6.210e+00  5.550e+00  5.110e+00
  4.370e+00  3.840e+00  3.690e+00  3.300e+00  3.260e+00  2.930e+00
  2.790e+00  2.540e+00  1.960e+00  1.910e+00  1.220e+00  9.500e-01
  7.900e-01  3.700e-01  3.400e-01  3.200e-01  5.850e+00  5.960e+00
  5.970e+00  6.030e+00  5.940e+00  5.930e+00  5.880e+00  5.320e+00
  4.960e+00  4.890e+00  4.760e+00  4.560e+00  3.390e+00  2.970e+00
  2.020e+00  1.640e+00  8.500e-01  6.200e-01  3.900e-01  3.500e-01
  5.770e+00  6.160e+00  6.070e+00  5.500e+00  5.490e+00  5.330e+00
  5.310e+00  4.160e+00  4.120e+00  3.360e+00  3.320e+00  2.800e+00
  2.460e+00  2.410e+00  1.680e+00  9.800e-01  4.900e-01  6.050e+00
  6.180e+00  6.240e+00  5.530e+00  5.440e+00  4.400e+00  4.260e+00
  3.240e+00  2.600e+00  2.510e+00  1.980e+00  1.890e+00  1.270e+00
  8.800e-01  8.300e-01  6.400e-01  4.700e-01  1.070e+00  1.310e+00
  5.640e+00  5.790e+00  5.870e+00  5.450e+00  5.360e+00  5.430e+00
  5.860e+00  5.150e+00  4.460e+00  4.360e+00  3.770e+00  3.420e+00
  3.160e+00  2.120e+00  1.990e+00  1.250e+00  8.400e-01  6.300e-01
  3.000e-01  3.100e-01  4.200e-01  6.090e+00  6.230e+00  6.250e+00
  6.190e+00  5.980e+00  6.150e+00  5.920e+00  5.660e+00  5.630e+00
  5.020e+00  3.670e+00  2.380e+00  2.290e+00  1.390e+00  8.700e-01
  6.800e-01  5.200e-01  6.110e+00  6.200e+00  4.390e+00  4.130e+00
  3.530e+00  3.000e+00  2.920e+00  1.900e+00  1.210e+00  6.700e-01
  5.500e-01  4.400e-01  6.480e+00  6.470e+00  6.580e+00  6.630e+00
  6.610e+00  6.460e+00  6.410e+00  5.410e+00  4.720e+00  4.700e+00
  3.750e+00  2.990e+00  2.470e+00  2.430e+00  1.420e+00  8.000e-01
  6.390e+00  6.260e+00  5.950e+00  4.650e+00  4.620e+00  3.450e+00
  2.960e+00  2.700e+00  2.670e+00  1.440e+00  4.600e-01  6.120e+00
  5.730e+00  5.480e+00  4.790e+00  4.490e+00  4.200e+00  2.780e+00
  2.480e+00  1.240e+00  1.120e+00  7.500e-01  6.450e+00  5.580e+00
  5.350e+00  4.000e+00  3.460e+00  2.840e+00  2.620e+00  2.370e+00
  4.820e+00  4.860e+00  4.880e+00  4.830e+00  4.730e+00  5.190e+00
  5.010e+00  4.110e+00  2.660e+00  2.360e+00  2.200e+00  1.690e+00
  1.290e+00  1.030e+00  9.300e-01  6.530e+00  6.560e+00  6.570e+00
  6.420e+00  5.650e+00  5.080e+00  5.040e+00  3.900e+00  3.340e+00
  2.440e+00  1.810e+00  5.700e+00  5.680e+00  5.620e+00  5.520e+00
  5.260e+00  2.570e+00  1.840e+00  1.590e+00  1.530e+00  1.340e+00
  1.300e+00  6.900e-01  4.840e+00  4.420e+00  4.190e+00  4.180e+00
  3.570e+00  2.860e+00  2.330e+00  2.000e+00  1.600e+00  1.040e+00
  7.800e-01  5.300e-01  5.000e-01  5.800e-01  5.910e+00  5.560e+00
  5.390e+00  2.850e+00  2.810e+00  2.560e+00  2.500e+00  2.180e+00
  4.670e+00  3.330e+00  3.250e+00  2.310e+00  2.260e+00  2.230e+00
  1.820e+00  1.380e+00  6.330e+00  5.060e+00  4.980e+00  3.010e+00
  2.940e+00  2.070e+00  1.320e+00  6.380e+00  6.370e+00  5.380e+00
  4.580e+00  4.550e+00  3.280e+00  1.760e+00  1.750e+00  1.350e+00
  1.330e+00  8.600e-01  4.920e+00  4.310e+00  4.060e+00  3.730e+00
  3.700e+00  3.090e+00  6.000e-01  4.270e+00  4.210e+00  2.530e+00
  2.280e+00  2.250e+00  1.400e+00  8.200e-01  5.280e+00  5.610e+00
  5.570e+00  4.750e+00  4.600e+00  3.910e+00  3.190e+00  2.680e+00
  5.990e+00  5.750e+00  4.910e+00  4.050e+00  1.850e+00  1.160e+00
  7.000e-01  6.600e-01  5.420e+00  5.840e+00  5.810e+00  5.590e+00
  5.180e+00  2.610e+00  2.170e+00  5.300e+00  5.540e+00  5.460e+00
  4.970e+00  2.830e+00  2.820e+00  2.640e+00  1.500e+00  5.720e+00
  4.220e+00  4.070e+00  3.170e+00  3.120e+00  2.750e+00  9.200e-01
  5.400e+00  4.640e+00  3.860e+00  7.300e-01  5.670e+00  5.690e+00
  5.230e+00  3.520e+00  2.740e+00  2.190e+00  8.900e-01  5.340e+00
  4.010e+00  1.540e+00  1.450e+00  1.230e+00  9.700e-01  7.600e-01
  5.170e+00  5.100e+00  5.090e+00  5.030e+00  4.450e+00  4.330e+00
  2.630e+00  1.610e+00  9.000e-01  3.970e+00  2.160e+00  1.670e+00
  5.370e+00  3.480e+00  1.010e+00  6.000e+00  5.240e+00  4.710e+00
  4.340e+00  3.880e+00  2.080e+00  1.090e+00  5.710e+00  4.510e+00
  3.890e+00  3.060e+00  2.450e+00  1.580e+00  4.280e+00  2.110e+00
  2.730e+00  1.280e+00  4.810e+00  3.980e+00  3.610e+00  5.270e+00
  4.940e+00  2.150e+00  1.140e+00  4.870e+00  3.230e+00  2.220e+00
  1.770e+00  1.150e+00  4.410e+00  3.620e+00  3.020e+00  2.490e+00
  2.400e+00  1.920e+00  1.200e+00  6.440e+00  5.120e+00  3.950e+00
  2.420e+00  2.090e+00  1.870e+00  1.130e+00  1.100e+00  3.040e+00
  2.300e+00  1.800e+00  2.800e-01  4.770e+00  3.920e+00  3.290e+00
  1.060e+00  3.490e+00  3.220e+00  3.030e+00  2.140e+00  5.820e+00
  4.540e+00  2.760e+00  1.080e+00  5.250e+00  5.200e+00  4.250e+00
  2.770e+00  2.390e+00  1.630e+00  9.400e-01  5.210e+00  4.780e+00
  3.410e+00  2.650e+00  1.510e+00  5.050e+00  4.520e+00  4.150e+00
  3.080e+00  2.050e+00  1.720e+00  1.550e+00  5.740e+00  4.480e+00
  4.300e+00  3.350e+00  1.790e+00  3.600e+00  2.890e+00  1.860e+00
  4.380e+00  2.240e+00  9.100e-01  4.040e+00  5.470e+00  4.430e+00
  4.100e+00  3.740e+00  2.040e+00  1.000e+00  2.900e-01  2.500e-01
  2.700e-01  1.480e+00  5.510e+00  3.560e+00  2.980e+00  2.400e-01
  2.100e-01  2.300e-01  5.000e+00  3.650e+00  9.900e-01  3.640e+00
  5.140e+00  4.530e+00  4.440e+00  3.710e+00  2.030e+00  1.880e+00
  1.940e+00  1.970e+00  2.720e+00  1.050e+00  1.170e+00  4.660e+00
  3.720e+00  1.410e+00  3.850e+00  3.790e+00  4.950e+00  1.570e+00
  4.500e+00  3.050e+00  1.490e+00  3.110e+00  2.210e+00  4.020e+00
  1.710e+00  4.170e+00  4.630e+00  2.350e+00  4.930e+00  4.140e+00
  2.690e+00  4.680e+00  3.660e+00  1.110e+00  3.810e+00  1.930e+00
  3.780e+00  3.550e+00  3.130e+00  3.930e+00  2.320e+00  2.550e+00
  4.470e+00  3.210e+00  2.900e+00  4.740e+00  4.090e+00  2.950e+00
  1.830e+00  1.470e+00  9.600e-01  4.610e+00  3.370e+00  3.270e+00
  3.150e+00  3.140e+00  4.800e+00  6.400e+00  6.490e+00  3.590e+00
  1.950e+00  1.700e+00  6.430e+00  6.510e+00  2.100e+00  6.500e+00
  4.990e+00  2.590e+00  1.730e+00  3.990e+00  1.660e+00  1.560e+00
  6.310e+00  6.710e+00  3.800e+00  1.650e+00  6.520e+00  6.600e+00
  3.510e+00  6.540e+00  3.380e+00  6.670e+00  4.850e+00  3.870e+00
  4.320e+00  3.680e+00  3.500e+00  3.310e+00  2.060e+00  3.630e+00
  2.580e+00  3.960e+00  2.010e+00  3.470e+00  4.900e+00  4.290e+00
  1.520e+00  2.880e+00  4.690e+00  3.830e+00  3.580e+00  4.570e+00
  1.260e+00  4.240e+00  6.000e-02  4.350e+00  2.600e-01  4.230e+00
  2.200e-01  1.600e-01  1.500e-01  1.700e-01  8.000e-02  9.000e-02
  1.800e-01  7.060e+00  6.900e+00  6.550e+00  6.650e+00  6.620e+00
  6.750e+00  6.720e+00  6.690e+00  2.870e+00  6.640e+00  6.940e+00
  6.930e+00  6.850e+00  6.810e+00  6.970e+00  6.740e+00  6.830e+00
  6.870e+00  6.700e+00  7.000e+00  6.880e+00  6.660e+00  6.860e+00
  6.590e+00  6.780e+00  6.770e+00  6.730e+00  6.680e+00  6.920e+00
  6.840e+00  6.800e+00  7.680e+00  7.520e+00  6.960e+00  6.910e+00
  1.300e-01  1.900e-01  2.000e-01  7.210e+00  7.200e+00  7.050e+00
  6.820e+00  7.310e+00  7.010e+00  6.760e+00  1.400e-01  1.100e-01
  6.950e+00  1.200e-01  6.790e+00  7.370e+00  7.020e+00  7.080e+00
  7.070e+00  7.040e+00  5.000e-02  4.000e-02  7.190e+00  7.410e+00
  7.540e+00  7.600e+00  7.270e+00  1.000e-01  7.150e+00  7.090e+00
  6.890e+00  7.510e+00  6.990e+00  6.980e+00  7.360e+00  7.390e+00
  7.250e+00  8.710e+00  7.450e+00  7.620e+00  7.110e+00  3.000e-02
  8.360e+00  7.710e+00  8.480e+00  7.130e+00  8.420e+00  0.000e+00
  7.180e+00  7.840e+00  7.860e+00  7.340e+00  7.670e+00  7.470e+00
  7.740e+00  8.470e+00  8.140e+00  7.120e+00  7.140e+00  7.810e+00
  7.690e+00  7.400e+00  7.160e+00  7.750e+00  7.220e+00  7.030e+00
  7.730e+00  7.230e+00  7.170e+00  7.550e+00  7.000e-02  8.750e+00
  7.100e+00  7.870e+00  2.000e-02  7.290e+00  7.240e+00  7.580e+00
  7.350e+00  7.330e+00  7.260e+00  7.300e+00  7.500e+00  7.990e+00
  7.890e+00  8.200e+00  8.260e+00  9.800e+00  8.000e+00  8.320e+00
  7.440e+00  7.530e+00  8.120e+00  7.570e+00  8.300e+00  8.540e+00
  8.880e+00  9.430e+00  8.780e+00  9.980e+00  8.450e+00  7.850e+00
  7.900e+00  8.840e+00  9.640e+00  7.280e+00  8.030e+00  8.190e+00
  7.480e+00  7.460e+00  7.320e+00  7.380e+00  7.490e+00  7.760e+00
  8.640e+00  8.070e+00  8.010e+00  7.930e+00  7.920e+00  9.320e+00
  7.970e+00  9.950e+00  1.001e+01  8.180e+00  7.420e+00  7.610e+00
  7.630e+00  7.590e+00  8.800e+00  8.130e+00  8.150e+00  8.230e+00
  8.790e+00  8.040e+00  7.950e+00  7.430e+00  8.650e+00  8.430e+00
  8.350e+00  7.560e+00  7.960e+00  8.530e+00  8.580e+00  8.410e+00
  7.780e+00  7.940e+00  7.830e+00  8.160e+00  8.940e+00  7.790e+00
  8.020e+00  1.000e-02  7.650e+00  8.250e+00  7.800e+00 -1.000e-02
  8.090e+00  8.240e+00  9.210e+00  8.510e+00  8.340e+00  1.057e+01
  1.069e+01  1.113e+01  9.130e+00  8.050e+00  8.100e+00  9.090e+00
  8.110e+00  8.690e+00  8.570e+00  8.500e+00  8.990e+00  9.930e+00
  9.040e+00  9.220e+00  9.000e+00  7.720e+00  8.310e+00  8.330e+00
  9.440e+00  9.160e+00  8.210e+00  7.660e+00  9.270e+00  9.080e+00
  8.860e+00  8.660e+00]
872
================================================================================
R_O2Sat
[  nan  92.8  94.6 ... 146.2   0.2 134.3]
1454
================================================================================
R_PRES
[   0    8   10 ... 3562 3595 3552]
3328
================================================================================

the code cell above helps us to see all the uniqe values in each of our features and that helps us determin which is categorical and which is not

In [72]:
id_col = ["Depth_ID"]

#Target columns
target_col = []

#categorical columns
cat_cols = bottle.nunique()[bottle.nunique() < 6].keys().tolist() # To filter out categorical columns
cat_cols = [x for x in cat_cols if x not in target_col] # To remove the target column

#numerical columns
num_cols = [x for x in bottle.columns if x not in cat_cols + target_col + id_col]

#Binary columns
bin_cols = bottle.nunique()[bottle.nunique() == 2].keys().tolist() 

#Columns with more than two values
multi_cols = [i for i in cat_cols if i not in bin_cols]

cat_cols

['RecInd',
 'T_prec',
 'S_prec',
 'P_qual',
 'Chlqua',
 'Phaqua',
 'NH3q',
 'C14A1q',
 'C14A2q',
 'DarkAq',
 'MeanAq']

In [64]:
for col in num_cols:
    bottle[col].fillna(-999,  inplace = True)

In [65]:
bottle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 32 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Cst_Cnt      864863 non-null  int64
 1   Btl_Cnt      864863 non-null  int64
 2   Sta_ID       864863 non-null  object
 3   Depth_ID     864863 non-null  object
 4   Depthm       864863 non-null  int64
 5   T_degC       864863 non-null  float64
 6   Salnty       864863 non-null  float64
 7   O2ml_L       864863 non-null  float64
 8   STheta       864863 non-null  float64
 9   O2Sat        864863 non-null  float64
 10  Oxy_µmol/Kg  864863 non-null  float64
 11  RecInd       864863 non-null  int64
 12  T_prec       853900 non-null  float64
 13  S_prec       817509 non-null  float64
 14  P_qual       673755 non-null  float64
 15  Chlqua       639166 non-null  float64
 16  Phaqua       639170 non-null  float64
 17  NH3q         808299 non-null  float64
 18  C14A1q       848605 non-null  float64
 19  C14A2q       848623 non-null  float64
 20  DarkAq       840440 non-null  float64
 21  MeanAq       840439 non-null  float64
 22  R_Depth      864863 non-null  float64
 23  R_TEMP       864863 non-null  float64
 24  R_POTEMP     864863 non-null  float64
 25  R_SALINITY   864863 non-null  float64
 26  R_SIGMA      864863 non-null  float64
 27  R_SVA        864863 non-null  float64
 28  R_DYNHT      864863 non-null  float64
 29  R_O2         864863 non-null  float64
 30  R_O2Sat      864863 non-null  float64
 31  R_PRES       864863 non-null  int64
dtypes: float64(25), int64(5), object(2)
memory usage: 211.1+ MB

then i would fill the categorical features with the mode

In [73]:
for cols in cat_cols:
    bottle[cols].fillna(bottle[cols].mode()[0], inplace=True)

In [74]:
bottle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 32 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Cst_Cnt      864863 non-null  int64
 1   Btl_Cnt      864863 non-null  int64
 2   Sta_ID       864863 non-null  object
 3   Depth_ID     864863 non-null  object
 4   Depthm       864863 non-null  int64
 5   T_degC       864863 non-null  float64
 6   Salnty       864863 non-null  float64
 7   O2ml_L       864863 non-null  float64
 8   STheta       864863 non-null  float64
 9   O2Sat        864863 non-null  float64
 10  Oxy_µmol/Kg  864863 non-null  float64
 11  RecInd       864863 non-null  int64
 12  T_prec       853900 non-null  float64
 13  S_prec       817509 non-null  float64
 14  P_qual       673755 non-null  float64
 15  Chlqua       639166 non-null  float64
 16  Phaqua       639170 non-null  float64
 17  NH3q         808299 non-null  float64
 18  C14A1q       848605 non-null  float64
 19  C14A2q       848623 non-null  float64
 20  DarkAq       840440 non-null  float64
 21  MeanAq       840439 non-null  float64
 22  R_Depth      864863 non-null  float64
 23  R_TEMP       864863 non-null  float64
 24  R_POTEMP     864863 non-null  float64
 25  R_SALINITY   864863 non-null  float64
 26  R_SIGMA      864863 non-null  float64
 27  R_SVA        864863 non-null  float64
 28  R_DYNHT      864863 non-null  float64
 29  R_O2         864863 non-null  float64
 30  R_O2Sat      864863 non-null  float64
 31  R_PRES       864863 non-null  int64
dtypes: float64(25), int64(5), object(2)
memory usage: 211.1+ MB